<ion-content>
    <ion-row>
      <ion-col align-self-center>
          <img width="150px" class="logoImg" height="30px" src="../../../assets/logo.png"/>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="padding-left: 20px; padding-right: 20px; margin-bottom: 15px;">
          <ion-item>
            <label style="margin-right: 10px;"><ion-icon style="color: #137E5D;" name="person"></ion-icon> </label> <ion-input  placeholder="Nome"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col style="padding-left: 20px; padding-right: 20px; margin-bottom: 15px;">
        <ion-item>
          <label style="margin-right: 10px;"><ion-icon style="color: #137E5D;" name="mail"></ion-icon> </label> <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="padding-left: 20px; padding-right: 20px; margin-bottom: 15px;">
          <ion-item>
            <label style="margin-right: 10px;"><ion-icon style="color: #137E5D;" name="lock"></ion-icon> </label> <ion-input type="password" placeholder="Senha"></ion-input>
          </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="padding-right: 20px; padding-left: 20px; margin-top: 30px; margin-bottom: 30px;">
            <ion-button class="btnLogin" expand="block">REGISTRAR</ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" style="margin-top: 50px; padding-bottom: 0px; padding-top: 0px;">
        <p style="text-align: center; font-size: 9pt; margin:0px;">Já possui uma conta?</p>
      </ion-col>
    </ion-row>

    <ion-row> 
        <ion-col size="2"></ion-col>
        <ion-col size="8">
            <ion-button class="btnRgstr" expand="full">LOGIN</ion-button>
        </ion-col>
    </ion-row>
  </ion-content>
