.teamImg{
    border-radius: 50%;
    margin-left: 15px;
    box-shadow: 1px 1px 5px gray;
}
.inputTeam{
    display: flex;
    margin: auto;
    margin-top: 40%;
}
.btnTeam{
    margin-left: 10px;
    --background: #137E5D;
    width: 140px;
    margin-bottom: 20px;
}