<ion-content>
  <ion-row>
    <ion-col style="margin-top: 80px;">
        <h1 style="font-size: 14pt; color: #635B5B; margin-left: 10px;">Escolha seu time</h1>
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col>
          <ion-button class="btnTeam" disabled="true" >CONTINUAR</ion-button>
      </ion-col>
  </ion-row>

  <ion-row style="background: #F5F5F5; border-bottom: 1px solid; border-color: #137E5D;">
        <ion-col size="3">
          <img width="50px" class="teamImg" height="50px" src="../../../assets/logo-flamengo.png"/>
        </ion-col>
        <ion-col size="7">
            <h5>Flamengo</h5>
        </ion-col>
        <ion-col size="2">
            <input class="inputTeam" type="checkbox" name="time1" value="Flamengo">
        </ion-col>
  </ion-row>
</ion-content>
