<ion-content>
  <ion-row>
    <ion-col align-self-center>
        <img width="150px" class="logoImg" height="30px" src="../../../assets/logo.png"/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="padding-left: 20px; padding-right: 20px; margin-bottom: 30px;">
      <ion-item>
        <label style="margin-right: 10px;"><ion-icon style="color: #137E5D;" name="mail"></ion-icon> </label> <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col style="padding-left: 20px; padding-right: 20px; margin-bottom: 30px;">
        <ion-item>
          <label style="margin-right: 10px;"><ion-icon style="color: #137E5D;" name="lock"></ion-icon> </label> <ion-input type="password" placeholder="Senha"></ion-input>
        </ion-item>
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col style="padding-right: 20px; padding-left: 20px; margin-top: 30px; margin-bottom: 30px;">
          <ion-button class="btnLogin" expand="block">ENTRAR</ion-button>
      </ion-col>
  </ion-row>
  <ion-row> 
      <ion-col size="2"></ion-col>
      <ion-col size="8" style="margin-top: 80px;">
          <ion-button class="btnRgstr" expand="full">REGISTRAR</ion-button>
      </ion-col>
  </ion-row>
</ion-content>
