.logoImg{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.btnLogin{
    height: 45px;
    --background: #137E5D;
}

.btnRgstr{
    --background: #635B5B;
     height: 45px;
}